<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ request.locale.iso_code }}">

  
<!--
~'~'~'~'~'~'~'~'~'~'~'~'~'~'~'~'~'~'~'~'~'~
             _        _            _       
            /\ \     /\ \         /\ \     
            \ \ \   /  \ \       /  \ \    
            /\ \_\ / /\ \ \     / /\ \ \   
           / /\/_// / /\ \ \   / / /\ \ \  
  _       / / /  / / /  \ \_\ / / /  \ \_\ 
 /\ \    / / /  / / /   / / // / /   / / / 
 \ \_\  / / /  / / /   / / // / /   / / /  
 / / /_/ / /  / / /___/ / // / /___/ / /   
/ / /__\/ /  / / /____\/ // / /____\/ /    
\/_______/   \/_________/ \/_________/     
                                           

OHT Designed by Eric Joo 

Website: https://kyung.xyz  
Email: kjoo@alumni.risd.edu
Instagram: @kjoo_eric

~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~

-->  
  
  
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap" rel="stylesheet"> 
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  
  {% unless template != 'index' %}
<script>
window.location.replace( 'https://ohtnyc.com/collections/full-catalog' );
</script>
  {% endunless %}

  {%- liquid
    assign body_font = settings.font_body
    assign heading_font = settings.font_heading
    assign body_font_bolder = body_font | font_modify: 'weight', 'bolder'
    assign body_font_bold = body_font | font_modify: 'weight', 'bold'
    assign body_font_italic = body_font | font_modify: 'style', 'italic'
    assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
  -%}

  {{ preload_tags }}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- if template == 'password' -%}
      {{ shop.name }}
    {%- else -%}
      {%- unless page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endif -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!-- Start IE11 compatibility -->
  <script>
    if (!!window.MSInputMethodContext && !!document.documentMode) {
      // CSSVar Polyfill
      document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\x2fscript>');

      document.documentElement.className = document.documentElement.className.replace('js', 'no-js');

      document.addEventListener('DOMContentLoaded', function () {
        var elsToLazyload = document.querySelectorAll('.lazyload');
        for (var i = 0; i < elsToLazyload.length; i++) {
          var elToLazyLoad = elsToLazyload[i];
          elToLazyLoad.removeAttribute('src');
          var src = elToLazyLoad.getAttribute('data-src').replace('_{width}x.', '_600x.');
          elToLazyLoad.setAttribute('src', src);
          elToLazyLoad.classList.remove('lazyload');
          elToLazyLoad.classList.add('lazyloaded');
        }
      });
    }
  </script>
  <!-- End IE11 compatibility -->
  {% render 'css-variables' %}
  <style>
    @keyframes marquee {
      0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
      }
    }
  </style>
  {% render 'critical-css' %}
  {% render 'social-meta-tags' %}
  {% render 'style-tags', layout: 'theme' %}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {% endif %}

  <style>
    {{ heading_font | font_face: font_display: 'swap' }}
    {{ body_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_bolder | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  {% render 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <!-- GSSTART Infinite Scroll code start. Do not change --><script type="text/javascript" src="https://gravity-apps.com/shopify/js/shopify/infinitescrollohtny5321.js?v=a55687c0bba538cfea254c604eb054a4"></script> <!-- nfinite Scroll code end. Do not change GSEND -->
  
  <script>
	console.log(ERICJOO);
  </script>
  
  </head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} {% if settings.buttons_show_arrow %}show-button-arrows{% endif %}" style="background-color: black;">

  
  <a class="in-page-link skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  {% section 'sidebar' %}
  {%- if settings.ajax_cart_method == 'drawer' -%}
    {%- render 'cart-drawer' -%}
  {%- endif -%}
  {%- if settings.show_pickup_availability -%}
    {%- render 'availability-drawer' -%}
  {%- endif -%}

  {% section 'announcement-bar' %}
  <div class="relative">
    {% if template.name == 'index' %}
      <div id="sticky-positioner"></div>
    {% endif %}
    {% section 'header' %}
    
    <main role="main" id="MainContent" style="background-color: rgba(255,255,255,0);">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </div>
  {% section 'popup' %}

  <div id="screenreader-announce" class="visually-hidden" aria-live="polite" role="status"></div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>

  <script>
    window.theme = {
      strings: {
        loading: {{ 'general.search.loading' | t | json }},
        itemCountOne: {{ 'cart.popup.cart_count.one' | t | json }},
        itemCountOther: {{ 'cart.popup.cart_count.other' | t | json }},
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartCookies: {{ 'cart.general.cookies_required' | t | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        addedToCart: {{ 'cart.popup.added_to_cart' | t | append: '!' | json }},
        cartAddError: {{ 'cart.general.cart_add_error' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      cartItemCount: {{ cart.item_count | json }},
      cartMethod: {{ settings.ajax_cart_method | json }}
    };
  </script>
  
<!--   OHT custom styling and font loadouts  -->
  <style>
    
    html{
      scroll-behavior: smooth;
    }
    
       
     /* Regular weight, regular style */
  @font-face {
    font-family: 'Juliette'; /* Font name - how you want to refer to it in this file. Can be anything. */
    src: url('{{ 'Juliette-Uncut.woff' | asset_url }}') format('woff'),
         url('{{ 'Juliette-Uncut.woff2' | asset_url }}') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Juliettereg'; /* Font name - how you want to refer to it in this file. Can be anything. */
    src: url('{{ 'Juliette-Regular.woff' | asset_url }}') format('woff'),
         url('{{ 'Juliette-Regular.woff2' | asset_url }}') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'Migra'; /* Font name - how you want to refer to it in this file. Can be anything. */
    src: url('{{ 'PPMigra-Semibold.woff' | asset_url }}') format('woff'),
         url('{{ 'PPMigra-Semibold.woff2' | asset_url }}') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'MigraMed'; /* Font name - how you want to refer to it in this file. Can be anything. */
    src: url('{{ 'PPMigra-Medium.woff' | asset_url }}') format('woff'),
         url('{{ 'PPMigra-Medium.woff2' | asset_url }}') format('woff2');
    font-weight: normal;
    font-style: normal;
  }  
    
    
.cardcontainer{
    width: 100vw;
    height: 36vh;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

@media all and (max-width: 500px) {
    .cardcontainer{
        display: flex;
    }
}

.card{
    width: 4.761%;
    height: 100%;
    border: 0px solid black;
/*    border-radius: 30px 30px 0px 0px; */
    text-align: center;
    z-index: 6;
    box-shadow: 0px 0px 50px rgba(15,15,15,0.8);
    filter:  grayscale(60%); 
}
    

    
#op50{
  	background-color: rgba(255,255,255,0.50);
}
    
#op45{
  	background-color: rgba(255,255,255,0.45);
}
    
#op40{
  	background-color: rgba(255,255,255,0.40);
}
  
#op35{
  	background-color: rgba(255,255,255,0.35);
} 

#op30{
  	background-color: rgba(255,255,255,0.20);
}
    
#op25{
  	background-color: rgba(255,255,255,0.10);
}
    
#op20{
  	background-color: rgba(255,255,255,0.5);
}
    

.desktopcard{
  
}
    
@media all and (max-width: 500px) {
    .desktopcard{
        display: none;
    }
}

.mobilecard{
  display: none;
}
    
@media all and (max-width: 500px) {
    .mobilecard{
        display: flex;
    }
}

#cardimage{
    
    width: 100%;
    height: 100%;
    z-index: 9;
}

@media all and (max-width: 500px) {
    .card{
        width: calc(100vw/6);
    }
}

#extra{
    display: block;
    
}

@media all and (max-width: 500px) {
    #extra{
        display: none;
    }
}

.backgroundimgint{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 30vh;
}

.backgroundimgint img{
    z-index: 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
      
  /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  
  #rotato {
 	 transition: 1s;
     filter: brightness(2);
  }
  #rotator {
 	 transition: 1s;
     filter: brightness(2);
  }
    
  #bigman{
      transition: 2s;
  }
    
  #OHTiframe{
    width:100vw; 
    height:30vh; 
    overflow:hidden; 
    margin-bottom: 0px;
  }
    
  @media all and (max-width: 500px) {
    #OHTiframe{
        height: 100vw;
        margin-bottom: -60px;
    }
  }
  
  #OHT-product{
    transition: 0.25s;
  }
    
  #OHT-desktop{
    transition: 1.8s;
  }
  
/*   #OHT-product:hover {
  	  filter: drop-shadow(0px 2px 2px #5fb6de);
  } */
   
  #OHT-menudelay{
    animation: menudelay 1s ease 0s;
    transform-origin: bottom;
    transition-delay: 0s;
  }
    
  @keyframes menudelay {
  from {
    transform: scaleY(0);
    
    opacity:0;
  }

  to {
    transform: scaleY(1);
    
    opacity:1;
  }
  }
    
   #OHT-elsedelay{
    animation: elsedelay 1.5s ease 0s;
    transform-origin: left;
  }
    
  @keyframes elsedelay {
  from {
    transform: translateY(100px);
    opacity:0;
  }

  to {
    transform: translateY(0px);
    opacity:1;
  }
  }
  
  #OHTlogo{
      filter: brightness(10);
  }
    
  
    
  #OHThome{
    transition: 0s;
  }  
    
  #OHThome:hover {
  	  color: #5fb6de;
  }
    
  .change-color{
    filter: brightness(0);
    transform: rotate3d(0,1,0, 360deg);
  }
    
  .change-shadow{
    box-shadow:0px 8px 10px #5fb6de; 
  }
    
  @keyframes roor {
  from {
    transform: rotate3d(0,1,0, 0deg) scaleY(0);
  }

  to {
    transform: rotate3d(0,1,0, 360deg) scaleY(1);
  }
   
  .textint{
   
    font-family: MigraReg;
    margin: auto;
    background-color: #5fb6de; 
    text-align: center;
  }
    
  #app{
    
  }
    


#topbtn:hover {
  background-color: #5fb6de; /* Add a dark-grey background on hover */
  color: white;
}

    
    
      
  </style>
  
   <script type="text/javascript">
     
            $(document).on('scroll', function(){
                if ( $(window).scrollTop() > 10) {
                    $('#rotato').addClass('change-color');
                } else {
                    $('#rotato').removeClass('change-color');
                }
            });
     
     		$(document).on('scroll', function(){
                if ( $(window).scrollTop() > 10) {
                    $('#rotator').addClass('change-color');
                } else {
                    $('#rotator').removeClass('change-color');
                }
            });
     
     		$(document).on('scroll', function(){
                if ( $(window).scrollTop() > 10) {
                    $('#bigman').addClass('change-shadow');
                } else {
                    $('#bigman').removeClass('change-shadow');
                }
            });
     
     		$(document).on('scroll', function(){
                if ( $(window).scrollTop() > 10) {
                    $('#OHT-desktop').addClass('change-shadow');
                } else {
                    $('#OHT-desktop').removeClass('change-shadow');
                }
            });
     
//      	    var x,y,n=0,ny=0,rotINT,rotYINT
//             $(window).scroll(function rotateYDIV() {
//                 y=document.getElementById("rotator")
//                 clearInterval(rotYINT)
//                 rotYINT=setInterval("startYRotate()",10)
//             });
//             function startYRotate()
//             {
                
//                 y.style.filter="grayscale(100%) sepia(100%) hue-rotate(50deg) saturate(15)"
//                 y.style.transform="rotate3d(0,1,0, 360deg)"
              
//                 if (ny==180 || ny>=360)
//                 {
//                     clearInterval(rotYINT)
//                     if (ny>=360){ny=0}
//                 }
//             }
     		
   </script>
   	   <script type="text/javascript" src="{{ 'vanilla-tilt.js' | asset_url }}"></script>
       <script type="text/javascript">

            // CHANGES
            var card = document.querySelectorAll(".card")
            for (var i = 0; i < card.length; i++) {
                card[i].setAttribute("data-tilt", "");
                card[i].setAttribute("data-tilt-reset", "false");
            }

            VanillaTilt.init(card, {
                reverse: true,
                max: 130,
                startX: 0,
                startY: 0,
                speed: 10000,
                perspective: 5000,
                scale: 1.00,

                transition: true,
                axis: "x",
                glare: false,
                "max-glare": 0.25,
                gyroscope: true,
                gyroscopeMaxAngleX: 80,
                gyroscopeMinAngleX: -80
            });



        </script>

        <script>


            // Reset VanillaTilt

            timeOut = 1500; // delay in milliseconds

            $(".cardcontainer").mouseleave(function () {
                setTimeout(function() {
                    var card = document.querySelectorAll(".card")
                    for (var i = 0; i < card.length; i++) {
                        card[i].vanillaTilt.destroy();
                    }
                    VanillaTilt.init(card, {
                        reverse: true,
                        max: 130,
                        startX: 0,
                        startY: 0,
                        speed: 10000,
                        perspective: 5000,
                        scale: 1.00,

                        transition: true,
                        axis: "x",
                        glare: false,
                        "max-glare": 0.35,
                        gyroscope: true,
                        gyroscopeMaxAngleX: 80,
                        gyroscopeMinAngleX: -80
                    });
                }, timeOut);
            })

        </script>
  
  		<script>
          
          var app = document.getElementById('app');

		  var typewriter = new Typewriter(app, {
    		loop: true,
            skipAddStyles: true
          
		  });

		typewriter.typeString('A container of bliss...')
    	.pauseFor(2500)
    	.deleteAll()
    	.typeString('Subject of your obsession...')
   	    .pauseFor(2500)
        .deleteAll()
        .typeString('Bots of Desire/Synthesized Sweat...')
        .pauseFor(2500)
        .deleteAll()
        .typeString('I Believe in Virtual Love...')
        .pauseFor(2500)
        .deleteAll()
        .typeString('Ambrosia Lite...')
        .pauseFor(2500)
        .deleteAll()
        .start();
       
       </script>
  
  	   <script>
         //Get the button:
mybutton = document.getElementById("topbtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
       </script>  
  
    
    <script>
		console.log(testing);
	</script>
  
</body>
</html>
